:root {
  --primary: #150135;
  --secondary: #6c2bad;
  --secondary-hover: #3c7aca;
  --pink: #ff00fc;
}

nav,
footer {
  background-color: var(--primary);
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--secondary);
}

.btn-primary {
  background-color: var(--secondary);
  color: white;
  border-color: transparent;
}

.bg-primary:hover {
  background-color: var(--secondary-hover);
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

.bg-img {
  /* background-image: url(../images/jeremy-bishop-G9i_plbfDgk-unsplash.jpg); */
  min-height: 90vh;
  height: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  background:
    linear-gradient(var(--primary), #6c2bad4d, var(--primary)), radial-gradient(circle 700px at 20% 30%, rgba(255, 0, 179, 0.734), transparent),
    radial-gradient(circle 500px at 80% 70%, rgba(255, 0, 179, 0.533), transparent);

  /* background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.461); */
}

body {
  background-color: var(--primary);
}

.bg-translucent {
  background-color: #00000063;
}

textarea {
  resize: none;
}

form a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
}

form a:hover {
  color: var(--secondary);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset var(--secondary);
  animation: l4 2.5s infinite;
}
.loader:after {
  animation-delay: -1.25s;
}
@keyframes l4 {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
}
